<!DOCTYPE html>
<html>
  <link href='//fonts.googleapis.com/css?family=Corben:700&text=Kringkastty' rel='stylesheet' type='text/css'>
  <style>
    [[style]]
  </style>
  <script>
    [[term]]
  </script>
  <body>
    <div id="header">
      <h1><a href="https://github.com/gulrotkake" >kringkas<span class="tty">tty</span></a></h1>
      <span id="status" class="disconnected">Disconnected</span>
    </div>
    <div id="main">
      <script>
        [[main]]
      </script>
    </div>
  </body>
</html>
